/*******************************************
STYLES FOR OFFER PAGE AND COMMON STYLES
 *******************************************/
body {
    background-size: 100%;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
}

#loggedUser {
    width: 300px;
    top: 10px;
}

#userLogin {
    width: 300px;
    top: 10px;
}

#ordersInPreparation {
    top: 60px;
}

#basketButton {
    top: 60px;
    width: 300px;
}

.container-fluid {
    height: 90%;
}

.half-of-parent {
    width: 40%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
}

.modal {
    overflow-y: auto;
}

.right-side {
    float: right;
    padding: 25px;
    position: absolute;
    left: 40%;
    bottom: 0px;
    top: 120px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
}

.actualSelection {
    float: right;
    padding: 25px;
    position: absolute;
    left: 80%;
    bottom: 0px;
    top: 120px;
    display: flex;
    flex-direction: column;
    width: 20%;
    border-left: 2px solid black;
    background-color: rgba(255, 255, 255, 0.9);
}

.dish-info {
    display: inline-block;
    padding-bottom: 10px;
    overflow-y: auto;
    width: 100%;
}

.dish-image {
    width: 300px;
    float: right;
}

.header {
    height: 110px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
}

.content-absolute {
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    width: 40%;
    background-color: white;
    border-right: 2px solid black;
}

.right-bottom-quarter {
    height: 45%;
    overflow-y: auto;
    flex-grow: 1;
}

#actualChoiceTable > table {
    margin: 0;
    border-spacing: 0;
}

#actualChoiceTable > tbody tr:last-child td {
    border-bottom: 2px solid #000;
}

.right-top-corner {
    position: absolute;
    top: 5px;
    right: 5px;
}

.left-top-corner {
    position: absolute;
    top: 4px;
    left: 15px;
}

.shake {
    -webkit-animation-name: shake; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: shake;
    animation-duration: 1s;
}

.hideOverflow {
    overflow: hidden;
}

.invisibleElement {
    visibility: collapse;
}

.categoryHeading {
    text-transform: uppercase;
}
.categoryHeading:hover {
    cursor: pointer;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* Standard syntax */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.md-toast-content.error {
    background-color: #ab161c;
}

.md-toast-content.offerReady {
    background-color: #09ab00;
}

.input-error {
    color:red;
}

.nav-item {
    text-align: center;
    width: 50%;
}
