<!-- TABLES VIEW -->
<div class="container-fluid" ng-controller="CashDeskController">
    <div id="loggedUser" class="right-top-corner text-right" style="padding-right: 10px">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span ng-show="isWaiter === false && (loggedUser === null || loggedUser === undefined)"> Anonymní uživatel</span>
        <span ng-show="isWaiter === false && loggedUser !== null && loggedUser !== undefined"> {{loggedUser.username}}</span>
        <span ng-show="isWaiter === true">Číšník</span>
    </div>
    <div id="tableAndBillInfo" class="left-top-corner">
        Číslo stolu: <b>{{tableId}}</b><br>
        <div class="form-group" ng-if="isWaiter === true && unpaidUsers.length > 0" id="unpaidUserDiv">
            <label for="unpaidUserSelect"><b>Vyberte uživatele</b></label>
            <select class="form-control" id="unpaidUserSelect"
                    ng-model="selectedUnpaidUser"
                    ng-change="getUnpaidOrderItemsForUser(selectedUnpaidUser)"
                    ng-options="unpaidUser.id as unpaidUser.username for unpaidUser in unpaidUsers">
            </select>
        </div>
    </div>
    <div id="cash-desk" class="cash-desk">
        <h1>Nezaplacené položky - Zbývá zaplatit: {{unpaidTotalPrice}} Kč
            <button ng-show="isWaiter === true && unpaidItems.length > 0" id="add-all-btn"
                    class="btn btn-lg btn-primary"
                    ng-click="addAllToPayed()">Přidat vše
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </h1>
        <div class="table-responsive">
            <table class="table table-hover" id="actualChoiceTable">
                <tr>
                    <th></th>
                    <th>Ks</th>
                    <th>Název</th>
                    <th>Cena</th>
                    <th ng-show="isWaiter == true">Akce</th>
                </tr>
                <tbody ng-repeat="unpaidItem in unpaidItems">
                <tr ng-repeat="dish in unpaidItem.items track by $index">
                    <td>
                        <i ng-if="dish.main && !dish.drink" class="fa fa-cutlery fa-lg"
                           aria-hidden="true"></i>
                        <img ng-if="!dish.main && !dish.drink" width="35px" height="35px"
                             src="img/priloha.png"></img>
                        <i ng-if="dish.drink" class="fa fa-glass fa-lg" aria-hidden="true"></i>
                    </td>
                    <td>{{dish.count}}</td>
                    <td>
                        <b ng-if="dish.main && !dish.drink">{{dish.name}}</b>
                        <span ng-if="!dish.main && !dish.drink">{{dish.name}}</span>
                        <span ng-if="dish.drink">{{dish.name}}</span>
                    </td>
                    <td>{{dish.price}} Kč</td>
                    <td id="cash-desk-actions-column" ng-if="isWaiter === true">
                        <button class="btn btn-success" ng-click="addToPayed(unpaidItem.id, dish)"
                                ng-if="dish.main || dish.drink || dish.lonelySideDish">
                            <i class="fa fa-plus" aria-hidden="true"></i> Přidat
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="to-be-payed" ng-if="isWaiter === true">
        <div class="dish-info">
            <h3>K zaplacení <br>Cena: {{selectionPrice}} Kč
                <button ng-if="selectedDishes.length > 0" id="remove-all-btn" class="btn btn-danger"
                        ng-click="removeAllFromPayed()">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    Odebrat vše
                </button>
            </h3>
            <div class="table-responsive ">
                <table class="table">
                    <tr>
                        <th>Ks</th>
                        <th>Název</th>
                        <th>Cena</th>
                        <th ng-show="isWaiter === true">Akce</th>
                    </tr>
                    <tr ng-repeat="selectedDish in selectedDishes track by $index">
                        <!-- TODO styles to css file -->
                        <td colspan="4" style="padding: 0; text-align: right">
                            <table style="width: 100%; padding: 0">
                                <tr ng-repeat="item in selectedDish.items">
                                    <td style="text-align: left">{{item.count}}</td>
                                    <td style="width: 50%; text-align: left">
                                        <b ng-if="item.main">{{item.name}}</b>
                                        <span ng-if="!item.main">{{item.name}}</span>
                                    </td>
                                    <td>{{item.price}} Kč</td>
                                    <td>
                                        <button ng-if="item.main || item.drink || item.lonelySideDish"
                                                class="btn btn-danger"
                                                ng-click="removeFromPayed(selectedDish)">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tr>
                </table>
            </div>
        </div>
        <button ng-if="selectedDishes.length > 0" class="btn btn-lg btn-success" ng-click="pay()">
            Zaplatit
        </button>
    </div>
    <div id="cash-desk-button">
        <a href="#/" ng-show="isWaiter === false">
            <button class="btn btn-primary">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Zpět ke stolu
            </button>
        </a>
        <a href="#/login?waiter=1" ng-show="isWaiter === false">
            <button class="btn btn-warning">
                <i class="fa fa-user" aria-hidden="true"></i> Přihlášení číšníka
            </button>
        </a>
        <a href="#/" ng-show="isWaiter === true" ng-click="logoutWaiter(false)">
            <button class="btn btn-primary">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>Odhlásit a zpět ke stolu
            </button>
        </a>
        <button class="btn btn-danger" ng-show="isWaiter === true" ng-click="logoutWaiter(true)">
            <i class="fa fa-user" aria-hidden="true"></i> Odhlášení číšníka
        </button>
    </div>
</div>


